<p id="notice"><%= notice %></p>

<h1>Relojes</h1>

<table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
  <thead>
    <tr>
      <th>Minuto</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relojes.each do |reloj| %>
      <tr>
        <td><%= reloj.minuto %></td>
        <td>
          <%= link_to 'Mostrar', reloj %>
          <%= link_to 'Editar', edit_reloj_path(reloj) %>
          <%= link_to 'Borrar', reloj, method: :delete, data: { confirm: '¿Está usted seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Reloj', new_reloj_path %>
<%= render '/home/botones_generales' %>
