<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @canal.nombre %>
</p>

<%= link_to 'Editar', edit_canal_path(@canal) %> |
<%= link_to 'Regresar', canales_path %>
<%= link_to 'Regresar al home', home_path %>
<br>
<br>
<%= render '/home/botones_generales' %>