<%= form_with(model: opcion, local: true) do |form| %>
  <% if opcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opcion.errors.count, "error") %> prohibited this opcion from being saved:</h2>

      <ul>
      <% opcion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :canal_id, :value => Numero.first.canal_id %>

  <div class="field">
    <%= "Canal: " %>
    <h3>
      <i>
        <%= Numero.first.canal.nombre %>
      </i>
    </h3>
  </div>

  <div class="field">
    <%= form.label :juliano %>
    <%= form.number_field :juliano, :disabled => true %>
  </div>

  <div class="field">
    <%= form.label "Inversion USD" %>
    <%= form.number_field :inversion, :disabled => true %>
  </div>

  <div class="field">
    <%= form.label :porcentaje %>
    <%= form.number_field :porcentaje %>
  </div>

  <div class="field">
    <%= form.label :Par %>
    <%= form.select(:par_id, Par.all.order(nombre: :asc).collect {|u| ["#{u.nombre}", u.id]}, { :include_blank => 'Seleccione un par' }, :required => true) %>
  </div>

  <div class="field">
    <%= form.label :reloj %>
    <%= form.select(:reloj_id, Reloj.all.collect {|u| ["#{u.minuto} minuto#{u.minuto > 1 ? 's': ''}", u.id]}, { :include_blank => 'Seleccione un reloj' }, :required => true) %>
  </div>

  <div class="field">
    <%= form.label :compra_venta %>
    <%= form.select(:tipo, options_for_select(["Compra","Venta"]), { :include_blank => 'Seleccione uno' }, :required => true) %>
  </div>

  <div class="field">
    <%= form.label :resultado %>
    <%= form.select(:resultado, options_for_select([["Ganado","G"],["Perdido","P"],["Empatado","E"]]), { :include_blank => 'Seleccione uno' }, :required => true) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
  <br>
<% end %>
