<p id="notice"><%= notice %></p>

<h1>Pares</h1>

<table class="datatable table table-hover table-striped display responsive no-wrap" id="tablas">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Ganadas</th>
      <th>Perdidas</th>
      <th>Empatadas</th>
      <th>Asertividad</th>
      <th>Imagen</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @pares.each.with_index(1) do |par, ind| %>
      <tr>
        <td><%= ind %></td>
        <td><%= par.nombre %></td>
        <td><%= par.ganadas.zero?     ? '-' : par.ganadas %></td>
        <td><%= par.perdidas.zero?    ? '-' : par.perdidas %></td>
        <td><%= par.empatadas.zero?   ? '-' : par.empatadas %></td>
        <td><%= par.asertividad.zero? ? '-' : "#{'%.2f' % par.asertividad} %" %></td>
        <td><%= image_tag(par.imagen_url, size: '100x36') if par.imagen? %></td>

        <td>
          <%= link_to 'Mostrar', par %>
          <%= link_to 'Editar', edit_par_path(par) %>
          <%= link_to 'Borrar', par, method: :delete, data: { confirm: '¿Está usted seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Par', new_par_path %>
<%= render '/home/botones_generales' %>
